.Avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D2EFF3;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 2rem;

  .body-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    img {
      position: absolute;
      top: -60px;
      right: -60px;
      scale: 0.5;
    }
  }

  .hair-img, .eyes-img, .nose-img, .mouth-img, .clothing-img, .facialHair-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    right: 0px;

    img {
      position: absolute;
    }
  }

  .hair-img {
    img {
      top: -114px;
      left: -80px;
      scale: 0.495
    }
  }

  .eyes-img {
    img {
      top: 50px;
      left: 50px;
      scale: 0.5
    }
  }

  .nose-img {
    img {
      top: 50px;
      left: 85px;
      scale: 0.5
    }
  }
  .mouth-img { 
    img {
      top: 77px;
      right: 58px;
      scale: 0.5;
    }
  }

  .clothing-img {
    img {
      top: 75px;
      right: -60px;
      scale: 0.5;
    }
  }
  .facialHair-img {
    img {
      top: 40px;
      right: 8px;
      scale: 0.5;
    }
  }
}
